@using System.ComponentModel.DataAnnotations
@using FurnitureShop.Admin.Blazor.Dtos
@using FurnitureShop.Common.Helpers;
@using System.Net
@page "/signup"
@inject NavigationManager navManager;
<h3>SignUp</h3>

@if(!response?.IsSuccessStatusCode != null)
{
    <b>Xatolik</b>
    <p>@response!.StatusCode.ToString()</p>
}
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <MudTextField Label="First name" HelperText="Max. 8 characters"
                                @bind-Value="model.FirstName" For="@(() => model.FirstName)"/>
                <MudTextField Label="Last name" HelperText="Max. 8 characters"
                                @bind-Value="model.LastName" For="@(() => model.LastName)"/>
                <MudTextField Label="User name" HelperText="Max. 8 characters"
                                @bind-Value="model.UserName" For="@(() => model.UserName)"/>
                <MudTextField Label="Email" Class="mt-3"
                                @bind-Value="model.Email" For="@(() => model.Email)"/>
                <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.body2" Align="Align.Center">
        </MudText>
    </MudItem>
</MudGrid>
</EditForm>

@code {
    RegisterUserDto model = new RegisterUserDto();

    HttpResponseMessage? response = null;

    //protected void Redirect(string route = "/dashboard")
    //{
    //    NavigateTo(route);
    //}


    private async Task OnValidSubmit(EditContext context)
    {

        RequestHelper request = new RequestHelper();

        using var responseMessage = await request.SendRequestAsync<RegisterUserDto>(HttpMethod.Post,"https://localhost:1003","/api/accounts/signup",model);

        if (responseMessage is null)
            response = null;

        if(responseMessage!.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/signin");
        }
        else
        {
            response = responseMessage;
        }
    }



}