<div class="NavImage">
    <MudImage Src="https://mebel.shop/upload/CMax/d16/cl3u49q2mh70oq542dl2jl01jt1a8u50.png" Alt="image" Style="width: 100%;" />
</div>
<MudNavMenu>
    <MudNavGroup Title="Sofas" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="sofas" Match="NavLinkMatch.All"><MudImage Class="img" Src="https://mebel.shop/upload/iblock/14c/pdslcuh71fu5dksm0fzjnok0qcnkihr9.png" Alt="" />Frameless sofas</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Armchairs" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="armchairs" Match="NavLinkMatch.Prefix"><MudImage Class="img"
          Src="https://mebel.shop/upload/iblock/d05/lyrkcqt8nwq1sju3ofjrvma7zncf2fj0.png" Alt="" />Armchairs</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Beds" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="beds" Match="NavLinkMatch.Prefix"><MudImage Class="img"
          Src="https://mebel.shop/upload/iblock/e02/0opvpuz6i59mslr5ks8b75cwoxabl3ga.png" Alt="" />Beds</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Mattresses" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="categories" Match="NavLinkMatch.Prefix"><MudImage Class="img" Src="https://mebel.shop/upload/iblock/e8d/754g8e8es3tb4xyuyn802ov7apxwcz7n.png" Alt="" /> Mattresses</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Chairs" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="category" Match="NavLinkMatch.Prefix">
        <MudImage Class="img" Src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png" Alt="" /> Сhairs</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Tables" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="organizations" Match="NavLinkMatch.Prefix">
        <MudImage Class="img" Src="https://mebel.shop/upload/iblock/57a/35xpit5rxbn3757zjtvuhqet4iyv34gj.png" Alt="" /> Tables</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

<style>
    .NavImage {
        padding: 10px 20px;
    }
    .NavCat .mud-nav-link-text {
        color: black !important;
    }
    .mud-drawer-header {
        display: none !important;
    }
    .img {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        padding: 0px !important;
    }

    .mud-nav-link-text {
        display: flex !important;
        align-items: center;
    }

    .mud-nav-item .mud-ripple a {
        padding: 0px !important;
    }

</style>