@inject HttpClient HttpClient

<link rel="stylesheet" href="css/font-awesome/css/fontawesome.min.css" />

<!--------------------------------------------Catalog---------------------------------------------------->
<MudNavMenu>
    @if (_categories is not null)
    {
        <MudNavGroup Title="Catalog" Icon="@Icons.Material.Filled.Category" Class="NavCat" Expanded="false">
            @foreach (var category in _categories)
            {
                if(category.Children is not null)
                {
                    <MudNavGroup Title="@category.Name" Class="NavCat" Expanded="false">
                        <MudNavLink Href="/" Match="NavLinkMatch.Prefix">Main</MudNavLink>
                        @foreach (var _subCategory in category.Children)
                        {
                            <MudNavLink Href="/" Match="NavLinkMatch.Prefix">@_subCategory.Name</MudNavLink>
                        }
                    </MudNavGroup>
                }
                else
                {
                    <MudNavLink Href="/" Match="NavLinkMatch.Prefix">@category.Name</MudNavLink>
                }
            }
        </MudNavGroup>
    }

    @if (_catalogErrorMessage is not null)
    {
        <p>@_catalogErrorMessage</p>
    }
<!------------------------------------------------------------------------------------------------->

    <MudNavGroup Title="Sofas" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="sofas" Match="NavLinkMatch.All">Frameless sofas</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Armchairs" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="armchairs" Match="NavLinkMatch.Prefix">Armchairs</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Beds" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="beds" Match="NavLinkMatch.Prefix">Beds</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Mattresses" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="categories" Match="NavLinkMatch.Prefix">Mattresses</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Chairs" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="category" Match="NavLinkMatch.Prefix">Сhairs</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Tables" Icon="@Icons.Filled.Chair" Class="NavCat">
        <MudNavLink Href="organizations" Match="NavLinkMatch.Prefix">Tables</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code{
    private string? _catalogErrorMessage;
    private List<CategoryView>? _categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _categories = await HttpClient.GetFromJsonAsync<List<CategoryView>>("https://localhost:7235/api/Categories");
        }
        catch (Exception e)
        {
            _catalogErrorMessage = e.Message;
        }
    }
}

<style>
    .NavCat .mud-nav-link-text {
        color: black !important;
    }
</style>