@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>
<div class="form-floating">
    <input type="search" class="form-control" placeholder="Search" />
</div>
<MudCarousel Class="mud-width-full" Style="height:700px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="http://krimdommebel.ru/image/catalog/CBK/Bruna_jasen/Bruna_gost_1.jpg" Alt="furniture" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="https://cdn.artcer.ru/files/pics/article/nolinski-6.jpg" Alt="furniture" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="https://mirdm.ru/upload/iblock/be4/be4f34a677b5c63e568a5077e1450107.jpg" Alt="furniture" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<div class="home-category">
    <div class="product">
        <h1>
            Best offers
        </h1>

        <div class="d-flex">
            <div class="product" style="display: flex; justify-content: space-around">
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/9c7/600_600_140cd750bba9870f18aada2478b24840a/vzrw0wa45oiv7xge4gw21mkz61hx5ocs.jpg" Alt="" Class="image" />
                    </div>
                    <div class="stars">
                        @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                    </div>
                    <div class="product-name">

                        <h3>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Name /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Table Galleon leather
                        </h3>
                        <p>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Description /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Description
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Price /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            500$
                        </h4>
                    </div>
                    <p>
                        Views: @*<MudTable Items="products" Elevation="0">
                    <RowTemplate>
                        <MudLink>@context.Price /</MudLink>
                    </RowTemplate>
                </MudTable>*@
                        999+
                    </p>
                </div>
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/df7/600_600_140cd750bba9870f18aada2478b24840a/r2id4ylipx9twnl05040z6p3gt2mmqfb.jpg" Alt="" Class="image" />
                    </div>
                    <div class="stars">
                        @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                    </div>
                    <div class="product-name">

                        <h3>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Name /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Table Galleon leather
                        </h3>
                        <p>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Description /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Description
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Price /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            500$
                        </h4>
                    </div>
                    <p>
                        Views: @*<MudTable Items="products" Elevation="0">
                    <RowTemplate>
                        <MudLink>@context.Price /</MudLink>
                    </RowTemplate>
                </MudTable>*@
                        999+
                    </p>
                </div>
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg" Alt="" Class="image" />
                    </div>
                    <div class="stars">
                        @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                    </div>
                    <div class="product-name">

                        <h3>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Name /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Table Galleon leather
                        </h3>
                        <p>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Description /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Description
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Price /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            500$
                        </h4>
                    </div>
                    <p>
                        Views: @*<MudTable Items="products" Elevation="0">
                    <RowTemplate>
                        <MudLink>@context.Price /</MudLink>
                    </RowTemplate>
                </MudTable>*@
                        999+
                    </p>
                </div>
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/e45/600_600_140cd750bba9870f18aada2478b24840a/htnfkyp4pf1jmf2zdmh5lajibuyf6r0a.png" Alt="" Class="image" />
                    </div>
                    <div class="stars">
                        @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                        <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                    </div>
                    <div class="product-name">

                        <h3>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Name /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Table Galleon leather
                        </h3>
                        <p>
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Description /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            Description
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">
                            @*<MudTable Items="products" Elevation="0">
                        <RowTemplate>
                            <MudLink>@context.Price /</MudLink>
                        </RowTemplate>
                    </MudTable>*@
                            500$
                        </h4>
                    </div>
                    <p>
                        Views: @*<MudTable Items="products" Elevation="0">
                    <RowTemplate>
                        <MudLink>@context.Price /</MudLink>
                    </RowTemplate>
                </MudTable>*@
                        999+
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <h1>
            Popular categories
        </h1>
        <div class="row">
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png" alt="chairs" />
                    </div>
                
                    <p>
                        @*<MudTable Items="categories" Elevation="0">
                            <RowTemplate>
                                <MudLink>@context.Children /</MudLink>
                            </RowTemplate>
                        </MudTable>*@
                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png" alt="tab" />
                    </div>
                    <p>
                        Tables
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/379/k66a15dow4vx9nppr4y3839u6j2saz1w.png" alt="imgs" />
                    </div>
                    <p>Frameless sofas</p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/b8a/lfr6ljaax0je7n306vtzr206uobtr1rg.png" alt="beds" />
                    </div>

                    <p>
                        Beds
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/d05/lyrkcqt8nwq1sju3ofjrvma7zncf2fj0.png" alt="archairs" />
                    </div>
                    <p>
                        Armchairs
                    </p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png" alt="chairs" />
                    </div>

                    <p>
                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png" alt="tab" />
                    </div>

                    <p>
                        Tables
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/e8d/754g8e8es3tb4xyuyn802ov7apxwcz7n.png" alt="matras" />
                    </div>

                    <p>Mattresses</p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png" alt="chairs" />
                    </div>

                    <p>
                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png" alt="tab" />
                    </div>

                    <p>
                        Tables
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

@code{
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private CategoryView[]? categories;
    private ProductView[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<ProductView[]>("https://localhost:7235");
        categories = await Http.GetFromJsonAsync<CategoryView[]>("https://localhost:7235");
    }
}

<style>
    .d-flex {
        display: flex;
        justify-content: space-around;
    }
    .image {
        width: 100%;
    }
    .product-image {
        padding: 45px 1px;
    }
    .images {
        padding: 25px;
        border: 1px solid rgb(241, 241, 241);
    }
    .rounded-lg {
        width: 100%;
        height: 100%;
    }

    .popular-category {
        height: 150px;
    }

        .popular-category .home-img {
            display: flex;
            justify-content: center;
        }

        .popular-category p {
            text-align: center;
        }

    .home-category h1 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: center;
        grid-row: 1;
        align-items: center;
    }

    .col-4 {
        padding: 10px;
        margin: 0px 20px 30px 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 18px;
        width: 280px;
    }

    .pt-16 {
        padding-top: 18px !important;
    }

    .my-16 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .form-floating {
        margin-bottom: 10px;
    }

    .form-control {
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 70%;
        padding: 10px 10px;
    }
</style>