@page "/"
@using FurnitureShop.Blazor.Pages.ViewModel
@using FurnitureShop.Blazor.Services
@inject CategoryService CategoryService
@inject ProductService ProductService

<PageTitle>Index</PageTitle>

<div class="form-floating">
    <MudGrid>
        <MudItem xs="10">
            <div class="form-control">
                <input type="search" placeholder="Search" />
            </div>
        </MudItem>
        <MudItem xs="1">
            <a href="" class="favorite iconHover">
                <div style="display: flex; justify-content: center">
                    <a href="" class="iconHover">
                        <MudIcon Icon="@Icons.Material.Filled.FavoriteBorder" />
                    </a>
                </div>
                <p style="text-align: center">Favorite</p>
            </a>
        </MudItem>
        <MudItem xs="1">
            <a href="" class="cart iconHover">
                <div style="display: flex; justify-content: center">
                    <a href="" class="iconHover">
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" />
                    </a>
                </div>
                <p style="text-align: center">Cart</p>
            </a>
        </MudItem>
    </MudGrid>
    

</div>
<MudCarousel Class="mud-width-full" Style="height:700px;" ShowArrows="@arrows" ShowBullets="@bullets"
    EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="http://krimdommebel.ru/image/catalog/CBK/Bruna_jasen/Bruna_gost_1.jpg" Alt="furniture"
                Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="https://cdn.artcer.ru/files/pics/article/nolinski-6.jpg" Alt="furniture" Elevation="25"
                Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <MudImage Src="https://mirdm.ru/upload/iblock/be4/be4f34a677b5c63e568a5077e1450107.jpg" Alt="furniture"
                Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<div class="home-category">
    <div class="product">
        <h1>
            Best offers
        </h1>

        <div class="d-flex">
            <div class="product" style="display: flex; justify-content: space-around">
                <div class="images">
                    <div class="product-image">
                        <a href="/product">
                            <MudImage
                                Src="https://mebel.shop/upload/resize_cache/iblock/9c7/600_600_140cd750bba9870f18aada2478b24840a/vzrw0wa45oiv7xge4gw21mkz61hx5ocs.jpg"
                                Alt="" Class="image"/>
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <MudRating ReadOnly="true" SelectedValue="4" style="color: yellow !important;"/>
                        </div>
                    <div class="product-name">

                        <h3>
                            Table Galleon leather;
                        </h3>
                        <p>
                            Description;
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">
                            500$;
                        </h4>
                    </div>
                    <p>
                        Views: 999+
                    </p>
                    <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
                </div>
                <div class="images">
                    <div class="product-image">
                        <a href="/product">
                            <MudImage
                                Src="https://mebel.shop/upload/resize_cache/iblock/df7/600_600_140cd750bba9870f18aada2478b24840a/r2id4ylipx9twnl05040z6p3gt2mmqfb.jpg"
                                Alt="" Class="image"/>
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <MudRating ReadOnly="true" SelectedValue="4" style="color: yellow !important;"/></div>
                    <div class="product-name">

                        <h3>
                            Table Galleon leather;
                        </h3>
                        <p>
                            Description;
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">

                            500$
                        </h4>
                    </div>
                    <p>
                        Views: 999+
                    </p>
                    <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
                </div>
                <div class="images">
                    <div class="product-image">
                        <a href="/product">
                            <MudImage
                                Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                                Alt="" Class="image"/>
                        </a>
                    </div>
                    <div class="d-flex flex-column">
                        <MudRating ReadOnly="true" SelectedValue="4" style="color: yellow !important;"/>
                    </div>
                    <div class="product-name">

                        <h3>

                            Table Galleon leather
                        </h3>
                        <p>

                            Description
                        </p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">

                            500$
                        </h4>
                    </div>
                    <p>
                        Views:
                        999+
                    </p>
                    <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
                </div>
                
                @if(products is null)
                {
                    <MudText Align="Align.Center"><b>Null <i>Products</i></b></MudText>
                }
                else
                {
                    foreach (var product in products)
                    {
                        <div class="images">
                            <div class="product-image">
                                <a href="/product">
                                    <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                                                                                                                  Alt="" Class="image"/>
                                </a>
                            </div>
                            <div class="d-flex flex-column">
                                <MudRating ReadOnly="true" SelectedValue="4" style="color: yellow !important;"/>
                            </div>
                            <div class="product-name">

                                <h3>
                                    @product.Name
                                </h3>
                                <p>
                                    @product.Description
                                </p>
                            </div>
                            <div class="product-price">
                                <h4 class="price">
                                    @product.Price
                                </h4>
                            </div>
                            <p>
                                @product.Views
                            </p>
                            <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="category">
        <h1>
            Popular categories
        </h1>
        <div class="row">
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png"
                            alt="chairs" />
                    </div>

                    <p>

                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png"
                            alt="tab" />
                    </div>
                    <p>
                        Tables
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/379/k66a15dow4vx9nppr4y3839u6j2saz1w.png"
                            alt="imgs" />
                    </div>
                    <p>Frameless sofas</p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/b8a/lfr6ljaax0je7n306vtzr206uobtr1rg.png"
                            alt="beds" />
                    </div>

                    <p>
                        Beds
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/d05/lyrkcqt8nwq1sju3ofjrvma7zncf2fj0.png"
                            alt="archairs" />
                    </div>
                    <p>
                        Armchairs
                    </p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png"
                            alt="chairs" />
                    </div>

                    <p>
                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png"
                            alt="tab" />
                    </div>

                    <p>
                        Tables
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/e8d/754g8e8es3tb4xyuyn802ov7apxwcz7n.png"
                            alt="matras" />
                    </div>

                    <p>Mattresses</p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png"
                            alt="chairs" />
                    </div>

                    <p>
                        Chairs
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="popular-category">
                    <div class="home-img">
                        <img src="https://mebel.shop/upload/iblock/69d/nyo5qy7pr2spxot5o2oex2eibi4g3c02.png"
                            alt="tab" />
                    </div>

                    <p>
                        Tables
                    </p>
                </div>
            </div>
            @if (categories is not null)
            {
                
            @foreach (var category in categories)
            {
                <div class="col-4">
                    <div class="popular-category">
                        <div class="home-img">
                            <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png"
                                alt="chairs" />
                        </div>
                        <p>
            @if(category?.Children is not null){
            @foreach (var childCategory in category?.Children)
            {
                <div class="col-4">
                    <div class="popular-category">
                        <div class="home-img">
                            <img src="https://mebel.shop/upload/iblock/1a7/zis5v7y5r3t5ylu75q6m6vwsqrkl0a5h.png"
                                alt="chairs" />
                        </div>
                        <p>
                            @childCategory.Name
                        </p>
                    </div>
                </div>
            }}
                        </p>
                    </div>
                </div>
            }
            }
        </div>
    </div>

</div>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private List<CategoryView>? categories;
    private List<ProductView>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
        categories = await CategoryService.GetCategoriesAsync();
    }
}

<style>
    .d-flex {
        display: flex;
        justify-content: space-around;
    }

    .image {
        width: 100%;
    }

    .product-image {
        padding: 45px 1px;
    }

    .images {
        padding: 25px;
        border: 1px solid rgb(241, 241, 241);
    }

    .rounded-lg {
        width: 100%;
        height: 100%;
    }

    .popular-category {
        height: 150px;
    }

    .popular-category .home-img {
        display: flex;
        justify-content: center;
    }

    .popular-category p {
        text-align: center;
    }

    .home-category h1 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: center;
        grid-row: 1;
        align-items: center;
    }

    .col-4 {
        padding: 10px;
        margin: 0px 20px 30px 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 18px;
        width: 280px;
    }

    .pt-16 {
        padding-top: 18px !important;
    }

    .my-16 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .form-floating {
        margin-bottom: 10px;
        display: flex;
        justify-content: start;
    }

    .form-control {
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px 10px;
    }
    .iconHover:hover {
        color: #594ae2ff;
    } 
</style>