@page "/products"
@using FurnitureShop.Blazor.Pages.ViewModel
@using FurnitureShop.Blazor.Services
@inject ProductService ProductService

<MudGrid>
    @if (products is null)
    {
        @for (var i = 0; i < 10; i++)
        {
            <MudItem xs="12" sm="3">
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                                  Alt="" Class="image" />
                    </div>
                    <div class="align-center">
                        @for (var i = 1; i <= 5; i++)
                        {
                            <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning"/>
                        }
                    </div>
                    <div class="product-name">
                        <h3>Table Galleon leather</h3>
                        <p>Description</p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">500$</h4>
                    </div>
                    <p>
                        Views: 999+
                    </p>
                </div>
            </MudItem>
        }
        
    }
    else
    {
        foreach (var product in products)
        {
            <MudItem xs="12" sm="3">
                <div class="images">
                    <div class="product-image">
                        <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                                  Alt="" Class="image" />
                    </div>
                    <div class="d-flex flex-column align-center">
                        @for (var i = 1; i <= 5; i++)
                        {
                            if(i <= product.Rate)
                            {
                                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning"/>
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Filled.StarBorder" Color="Color.Warning"/>
                            }
                        }
                    </div>
                    <div class="product-name">
                        <h3>@product.Name</h3>
                        <p>@product.Description</p>
                    </div>
                    <div class="product-price">
                        <h4 class="price">@product.Price $</h4>
                    </div>
                    <p>
                        Views: @product.Views
                    </p>
                </div>
            </MudItem>
        }
    }
</MudGrid>
@*
@if (products is not null)
{
    @foreach (var product in products)
    {
        <MudCard >
             <MudCardMedia Style="max-width: 100px" Image="images/redmi.jpg" Height="200" />
             <MudCardContent>
                 <MudText Typo="Typo.h5">@product.Name</MudText>
                 <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                 <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
             </MudCardContent>
             <MudCardActions>
                 <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                 <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
             </MudCardActions>
        </MudCard>
    }
}
*@

@code {
    private List<ProductView>? products;
    
    protected override async Task OnInitializedAsync() => products = await ProductService.GetProductsAsync();
}

<style>

    .image {
        width: 100%;
    }

    .product-image {
        padding: 45px 1px;
    }

    .images {
        padding: 25px;
        border: 1px solid rgb(241, 241, 241);
    }
</style>    