@page "/products"
@using FurnitureShop.Blazor.Pages.ViewModel
@using FurnitureShop.Blazor.Services
@inject ProductService ProductService

<div class="d-flex">
    <div class="product" style="display: flex; justify-content: space-around">
        <div class="images">
            <div class="product-image">
                <a href="/product">
                    <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                              Alt="" Class="image"/>
                </a>
                </div>
            <div class="stars">
                @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
            </div>
            <div class="product-name">

                <h3>

                    Table Galleon leather
                </h3>
                <p>

                    Description
                </p>
            </div>
            <div class="product-price">
                <h4 class="price">

                    500$
                </h4>
            </div>
            <p>
                Views:
                999+
            </p>
            <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
        </div>

    </div>
</div>


@if (products is null)
{
    <MudText Align="Align.Center"><b>Null <i>Products</i></b></MudText>
}
else
{
    foreach (var product in products)
    {
        <div class="images">
            <div class="product-image">
                <a href="/product">
                    <MudImage Src="https://mebel.shop/upload/resize_cache/iblock/f20/600_600_140cd750bba9870f18aada2478b24840a/7pxfeznxsq3s4t0w7ptpga9fmn7547ap.jpg"
                              Alt="" Class="image"/>
                </a>
            </div>
            <div class="stars">
                @*Logika bo'lishi kerak-rate nechta bo'lsa shuncha start yonishi kerak*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.Star" /> @*To'liq yuldiz*@
                <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
                <MudIcon Icon="@Icons.Filled.StarBorder" /> @*Bo'sh yulduz*@
            </div>
            <div class="product-name">

                <h3>
                    @product.Name
                </h3>
                <p>
                    @product.Description
                </p>
            </div>
            <div class="product-price">
                <h4 class="price">
                    @product.Price
                </h4>
            </div>
            <p>
                @product.Views
            </p>
            <MudButton Href="/product" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px">View</MudButton>
        </div>
    }
}

@if (products is not null)
{
    @foreach (var product in products)
    {
        <MudCard >
             <MudCardMedia Style="max-width: 100px" Image="images/redmi.jpg" Height="200" />
             <MudCardContent>
                 <MudText Typo="Typo.h5">@product.Name</MudText>
                 <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                 <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
             </MudCardContent>
             <MudCardActions>
                 <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                 <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
             </MudCardActions>
        </MudCard>
    }
}

@code {
    private List<ProductView>? products;
    protected override async Task OnInitializedAsync() => products = await ProductService.GetProductsAsync();
}

<style>
    .d-flex {
        display: flex;
        justify-content: space-around;
    }

    .image {
        width: 100%;
    }

    .product-image {
        padding: 45px 1px;
    }

    .images {
        padding: 25px;
        border: 1px solid rgb(241, 241, 241);
    }
</style>    