@page "/products"
@using FurnitureShop.Merchant.Blazor.Dtos
@inject HttpClient Http

<h3>Products</h3>

@if (productViews is not null)
{
    @foreach (var product in productViews)
    {
        <MudCard >
             <MudCardContent>
                 <MudText Typo="Typo.h5"> Name : @product.Name</MudText> 
                 <MudText Typo="Typo.h5">Count : @product.Count  </MudText>
                 <MudText Typo="Typo.h5">Description : @product.Description  </MudText>
                 <MudText Typo="Typo.h5">OnSale : @product.OnSale  </MudText>
                 <MudText Typo="Typo.h5">OnTrend : @product.OnTrend  </MudText>
                 <MudText Typo="Typo.h5">Price :  $@product.Price  </MudText> 
                 <MudText Typo="Typo.h5"> </MudText>
             </MudCardContent>
              
        </MudCard>
        <br>
    }
}

@code {
    private List<ProductView>? productViews;
    protected override async Task OnInitializedAsync()
    {
        productViews = await Http.GetFromJsonAsync<List<ProductView>>("https://localhost:7237/api/products");
    }
}
