@page "/ProductDetails/{ProductId}"
@using FurnitureShop.Client.Blazor.ViewModel;
@inject HttpClient Http;
<h3 class="mb-5">Product Details</h3>

   @* <div class="col-md-6 mb-4">
        <img class="img-fluid" src="images/Furniture3.png" height="100" width="200">
    </div>
    <div class="col-md-6">
        <h3>@Product!.Name</h3>
        <p class="mb-4">@Product.Description</p>
        <p class="mb-4">
            <b>
                @Product.Price
            </b>
        </p>
        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Add to Card</MudButton>
        </div>
    </div>*@
<div class="row">
    <MudPaper Class="pa-16 ma-2" Elevation="3">
       @* <div class="col-md-3 mb-2">
            <div class="card">
                <MudText Typo="Typo.body1"><b>Name: </b>@Product.Name</MudText>
                <MudText Typo="Typo.body1"><b>Price: </b>@Product.Price</MudText>
                <img class="img-thumbnail" style="border-bottom:2px solid black; margin-bottom:2px" src="images/Furniture3.png" height="200" width="250">
                <MudText Typo="Typo.body1">@Product.Description</MudText>
            </div>
        </div>
        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Add to Card</MudButton>
        </div>
        </div>*@

        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card" style="border-radius: 15px;">
                            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/12.webp"
                                     style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                                     alt="Laptop" />
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p><a href="#!" class="text-dark">@Product.Name</a></p>
                                        <p class="small text-muted">@Product.Count</p>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p class="small text-muted">Rated 4.0/5</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <p><a href="#!" class="text-dark">$@Product.Price</a></p>
                                    <p class="text-dark">#### 8787</p>
                                </div>
                                <p class="small text-muted">Uz Card</p>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                    <a  href="/" class="text-dark fw-bold">Cancel</a>
                                    <a  href="/order" type="button" class="btn btn-primary">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </MudPaper>
</div>
    

@code {
    [Parameter]
    public string? ProductId { get; set; }

    private ProductView? Product;
    protected override async Task OnInitializedAsync()
    {
        Product = await Http.GetFromJsonAsync<ProductView>($"https://localhost:5/api/Products/{ProductId}");
    }
}
