@page "/"
@using FurnitureShop.Client.Blazor.ViewModel
@inject HttpClient Http

<head style="top:0">
    @if (productViews is null)
    {
        <MudText>Products</MudText>
    }
</head>

<body>
    <div class="row mt-1" style="display: flex; flex-wrap:wrap; justify-content: flex-start">
        @foreach (var product in productViews ?? new List<ProductView>())
        {
            var url = $"/ProductDetails/{product.Id}";
            @*<a href="/ProductDetails/@product.Id">
                <MudPaper Class="pa-16 ma-2" Elevation="3">
                    <div class="col-md-3 mb-2">
                        <div class="card">
                            <MudText Typo="Typo.body1"><b>Name: </b>@product.Name</MudText>
                            <MudText Typo="Typo.body1"><b>Price: </b>@product.Price</MudText>
                            <img class="img-thumbnail" style="border-bottom:2px solid black; margin-bottom:2px" src="images/Furniture3.png" height="200" width="250">
                            <MudText Typo="Typo.body1">@product.Description</MudText>
                        </div>
                    </div>
                </MudPaper>
            </a>*@

            @*<section style="background-color: #eee;">*@
                <div class="container py-5">
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-12 col-xl-10">
                            <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                                                 class="w-100" />
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>@product.Name</h5>
                                            <div class="d-flex flex-row">
                                                <div class="text-danger mb-1 me-2">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <span>@product.Count</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                                @product.Description
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                            <div class="d-flex flex-row align-items-center mb-1">
                                                <h4 class="mb-1 me-1">@product.Price</h4>
                                                <span class="text-danger"><s>$20.99</s></span>
                                            </div>
                                            <h6 class="text-success">Free shipping</h6>
                                            <div class="d-flex flex-column mt-4">
                                                <a href=@url class="btn btn-primary btn-sm" type="button">Details</a>
                                                <a class="btn btn-outline-primary btn-sm mt-2" type="button">
                                                    Add to wishlist
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          @*  </section>*@
        }
    </div>
    <hr class="mb-3" />

    <h3 class="mb-5">Products</h3>

    @foreach (var organization in organizationViews)
    {
        <td> <img src="@organization.ImageURL" height="150" width="200">@organization.Name</td>
    }
</body>





@code {
    private IEnumerable<ProductView>? productViews;
    private IEnumerable<OrganizationView>? organizationViews;

    protected override async Task OnInitializedAsync()
    {
        productViews = await Http.GetFromJsonAsync<IEnumerable<ProductView>>("/api/Products");
        organizationViews = await Http.GetFromJsonAsync<IEnumerable<OrganizationView>>("api/Organizations");
    }
}
