@page "/orders"

@using FurnitureShop.Merchant.Blazor.ViewModel
@using Newtonsoft.Json
@inject NavigationManager NavManager
@inject HttpClient httpClient

@if (contracts.Count > 0)
{
    <MudTable Style="padding: 10px;" @ref="_table" T="ContractView" Items="@contracts" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="true"
          OnRowClick="@OnRowClick" @bind-SelectOnRowClick="@_selectOnRowClick">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Status</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Product count">@context.ProductCount</MudTd>
            <MudTd DataLabel="Total Price">@context.TotalPrice</MudTd>
            <MudTh DataLabel="Button">
                <a href="/order/@context.OrderId">
                    <MudButton Variant="Variant.Filled" Color="Color.Success">View more</MudButton>
                </a>
            </MudTh>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100}" />
        </PagerContent>
        <FooterContent>
            <MudTd colspan="5">Select All</MudTd>
        </FooterContent>
    </MudTable>
}
else
{
    <h1>You have not any Contracts</h1>
}



@code {

    private HashSet<ContractView> selectedItems = new HashSet<ContractView>();
    private bool _selectOnRowClick = true;
    private MudTable<ContractView>? _table;
    private string _selectedItemText = "No row clicked";


    List<ContractView> contracts = new List<ContractView>();

    protected void Redirect(string route)
    {
        NavManager.NavigateTo(route);
    }

    protected override async Task OnInitializedAsync()
    {
        var httpRequest = new HttpRequestMessage(HttpMethod.Get, "/api/Orders");
        httpRequest.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

        var response = await httpClient.SendAsync(httpRequest);
        var organizationsJson = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            contracts = JsonConvert.DeserializeObject<List<ContractView>>(organizationsJson);
        }
    }

    void OnRowClick(TableRowClickEventArgs<ContractView> args)
    {
        _selectedItemText = $"{args.Item.OrderId}";
    }
}
