@page "/organizations"
@using FurnitureShop.Merchant.Blazor.ViewModel
@using Newtonsoft.Json
<PageTitle>Organizations</PageTitle>

<_AddOrganization />

<br /><br />
<MudTable Style="padding: 10px;" @ref="_table" T="OrganizationView" Items="@_organizations" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="true"
          OnRowClick="@OnRowClick" @bind-SelectOnRowClick="@_selectOnRowClick">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Status</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTh DataLabel="Button">
            <a href="/organization/@context.Id">
                <MudButton Variant="Variant.Filled" Color="Color.Success">View more</MudButton>
            </a>
        </MudTh>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
    </PagerContent>
    <FooterContent>
        <MudTd colspan="5">Select All</MudTd>
    </FooterContent>
</MudTable>

@code {
    private HashSet<OrganizationView> selectedItems = new HashSet<OrganizationView>();
    private static IEnumerable<OrganizationView> _organizations = new List<OrganizationView>();
    private bool _selectOnRowClick = true;
    private MudTable<OrganizationView> _table;
    private string _selectedItemText = "No row clicked";


    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:1009");

        var message = new HttpRequestMessage(HttpMethod.Get, "/api/Organizations");
        message.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

        var profileJson = await (await client.SendAsync(message)).Content.ReadAsStringAsync();
        _organizations = JsonConvert.DeserializeObject<List<OrganizationView>>(profileJson);
    }

    void OnRowClick(TableRowClickEventArgs<OrganizationView> args)
    {
        _selectedItemText = $"{args.Item.Name} ({args.Item.Id})";
    }
}
