@page "/organizations"
@using FurnitureShop.Admin.Blazor.ViewModel
@inject HttpClient http;


<PageTitle>Organization</PageTitle>


@if (organizations is not null)
{
    foreach (var organization in organizations)
    {
        var organizationLink = $"/organizations/{organization.Id}";
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudLink Href="@organizationLink">@organization.Name</MudLink>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="@organization.ImageUrl" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    }
}
else
{
    <p> May be null</p>
}


@code {
    private List<OrganizationView>? organizations;

    protected override async Task OnInitializedAsync()
    {
        organizations = await http.GetFromJsonAsync<List<OrganizationView>>("https://localhost:7113/api/Organizations");
    }
}