@page "/users"
@using FurnitureShop.Merchant.Blazor.ViewModel
@inject HttpClient Http;
 
@if(_users.Count <= 0)
    {
    <p>users does not exist</p>
    }
else
    {
     foreach (var user in _users)
       {
          <p>Id: @user.Id</p>
          <p>FirstName : @user.FirstName</p>
          <p>UserName: @user.UserName</p>
          <p>LastName: @user.LastName</p>
          <p>Email: @user.Email</p>
          <br />
       }
    }
@code {
    List<UserView>? _users = new List<UserView>();

    protected override async Task OnInitializedAsync()
    {
        _users = await Http.GetFromJsonAsync<List<UserView>>("https://localhost:1009/api/Users");
    }
  
}
