<!-- Menu -->
@inject NavigationManager navigationManager
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <_Logo/>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item @ActivatePage("dashboard")">
            <a href="/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Dashboard">Dashboard</div>
            </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item @ActivatePage("profile")">
            <a href="/profile" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-pin"></i>
                <div data-i18n="Profile">Profile</div>
            </a>
        </li>

        <!-- Statistics -->
        <li class="menu-item @ActivatePage("stats")">
            <a href="/stats" class="menu-link">
                <i class="menu-icon tf-icons bx bx-trending-up"></i>
                <div data-i18n="Stats">Statistics</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Pages</span>
        </li>
        <li class="menu-item @ActivatePage("categories")">
            <a href="/categories" class="menu-link">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Categories">Categories</div>
            </a>
        </li>
        <li class="menu-item @ActivatePage("organizations")">
            <a href="/organizations" class="menu-link">
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div data-i18n="Organizations">Organizations</div>
            </a>
        </li>
        <li class="menu-item @ActivatePage("contracts")">
            <a href="/contracts" class="menu-link">
                <i class="menu-icon tf-icons bx bx-receipt"></i>
                <div data-i18n="Contracts">Contracts</div>
            </a>
        </li>
        <li class="menu-item @ActivatePage("orders")">
            <a href="/orders" class="menu-link">
                <i class="menu-icon tf-icons bx bx-basket"></i>
                <div data-i18n="Orders">Orders</div>
            </a>
        </li>
        <li class="menu-item @ActivatePage("users")">
            <a href="/users" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div data-i18n="Users">Users</div>
            </a>
        </li>
        <li class="menu-item @ActivatePage("products")">
            <a href="/products" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Products">Products</div>
            </a>
        </li>
        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">General</span></li>
        <!-- Extended components -->
        <li class="menu-item @ActivatePage("settings")">
            <a href="/settings" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Settings">Settings</div>
            </a>
        </li>
        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
        <li class="menu-item">
            <a href="https://t.me/leverow" target="_blank"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Support</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->
@code {
    private string ActivatePage(string page)
    {
        if (navigationManager.Uri.Contains(page))
            return "active";

        return string.Empty;
    }
}